* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 2% 12%;
    position: absolute;
    width: 100%;
}

.main-header-logo{
    height: 100%;
    width: 150px;
}

.main-header-logo img{
    height: 100%;
    width: 100%;
}

.main-header-content{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.language-drop-down{
    background: transparent;
    color: #fff;
    border: none;
}

.language-drop-down-container{
    border: 1px solid white;
    padding: 0.4rem 1rem;
    border-radius: 4px;
}

.header-sign-in-button button{
    padding: 0.6rem 1.5rem;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px
}

.hero-bg-img-container{
    width: 100%;
    height: 100vh;
}

.hero-bg-img-container img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.bg-img-overlay{
    width: 100%;
    height: 100%;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
}

.main-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    text-align: center;
}

.main-heading h1{
    font-size: 3rem;
}

.sub-heading h3{
    font-size: 24px;
    font-weight: 300;
}

.super-sub-heading{
    margin-top: 0.5rem;
}

.super-sub-heading h4{
    font-size: 18px;
    font-weight: 100;
}

.signup-login-section{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.input-section input::placeholder{
    font-size: 1rem;
    padding: 2rem;
}

.input-section input{
    padding: 1.2rem 6rem;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    color: #fff;
    border-radius: 2px;
}

.button-section button{
    padding: 1.2rem 3.5rem;
    color: #fff;
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
    border-radius: 2px;
    /* font-size: 24px; */
}

.button-section button:hover{
    background: rgb(181, 21, 21);
}

.card1{
    display: flex;
    flex-direction: row;
    padding: 3rem 8rem;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #2F2F2F;
    flex-wrap: wrap;
}

.card-content h1{
    font-size: 3rem;
}

.card-content p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

.card-content{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.card1 .card-img,.card2 .card-img{
    height: 100%;
    width: 50%;
}

.card1 .card-img img,.card2 .card-img img{
    height: 100%;
    width: 100%;
}

.card2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #2F2F2F;
    flex-wrap: wrap;
    padding: 4rem 10rem;
}

.doubt-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #2F2F2F;
}

.doubt-heading h1{
    font-size: 3rem;
    margin-top: 4rem;
}

.faqs{
    display: flex;
    flex-direction: column;
    padding: 2rem  7rem;
    width: 100%;
}

.ques button{
    background: transparent;
    border: none;
    font-size: 2rem;
}

.ques h3{
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.3rem;
}

.ques{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2F2F2F;
    padding: 1.5rem 3rem;
}

.ans{
    margin-bottom: 10px;
    max-width: 100%;
    display: none;
}

.ans p{
    background-color: #2F2F2F;
    padding: 1.5rem 3rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.3rem;
}

.signup-login-reminder{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

footer{
    border-top: 8px solid #2F2F2F;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 2rem;
    padding: 4rem 8rem;
}

.row2{
    display: flex;
    flex-direction: row;
    gap: 9rem;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

ul li p{
    text-decoration: underline;
    font-weight: 300;
    font-size: 14px;
}

.row1 span{
    text-decoration: underline;
}

.row3 p{
    margin-top: 1rem;
}

button{
    cursor: pointer;
}
